@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'un-sans-light';
  src: url("./assets/fonts/UncutSans-Light.woff2");
}

@font-face {
  font-family: 'un-sans-regular';
  src: url("../public/assets/fonts/UncutSans-Regular.woff2");
}

@font-face {
  font-family: 'un-sans-medium';
  src: url("./assets/fonts/UncutSans-Medium.woff2");
}

@font-face {
  font-family: 'un-sans-semibold';
  src: url("./assets/fonts/UncutSans-Semibold.woff2");
}