@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "un-sans-light";
  src: url("./assets/fonts/UncutSans-Light.woff2");
}

@font-face {
  font-family: "un-sans-regular";
  src: url("./assets/fonts/UncutSans-Regular.woff2");
}

@font-face {
  font-family: "un-sans-medium";
  src: url("./assets/fonts/UncutSans-Medium.woff2");
}

@font-face {
  font-family: "un-sans-semibold";
  src: url("./assets/fonts/UncutSans-Semibold.woff2");
}

.showpage {
  min-height: 100vh;
  width: 100vw;
  padding: 0.1px 2.5rem 5rem 2.5rem;
}

.showpage-wrapper {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  position: relative;
}





.crdt-btn{
  background-color: rebeccapurple;
  position: relative;
  overflow: hidden;
}